:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.switch {
  width: 100px;
  height: 150px;
  background-color: #fce3e3;
  display: flex;
  justify-content: center;
  align-items: center;
}


.switch>label {
  width: 50px;
  height: 75px;
  background-color: #646cff;
  display: flex;
  position: relative;

  transition: all .25s;
}

.pressme {
  width: 50px;
  height: 25px;
  background-color: #1a1a1a;
  position: absolute;
  transition: all .25s;
}

.switch:has(input[type='checkbox']:checked) {
  label {
    background-color: #888;

    .pressme {
      bottom: 0;
    }
  }
}

input[type='checkbox'] {
  display: none;
}

#game {
  width: 100%;
  background: #646464;
  max-height: calc(40% - 1px);
}

#msg {
  max-height: 200px;
  overflow-y: scroll;
}

#msg>p {
  margin: 0;
  margin-block: 5px;
  margin-inline-start: 20px;
}

#console {
  background-color: #1a1a1a;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;

  font-size: 20px;

  input {
    border: none;
    background-color: #1a1a1a;
    outline: none;
  }
}